{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_full-bleed-cta' } %}
  {% block content %}
    {% include '@partial/media-item.twig' with { image: fields.background_image } only %}

    <div class="container full-bleed-cta full-bleed-cta-{{fields.text_size}}">
      <div class="row">
        <div class="col-12 col-md-10 {% if fields.text_size == 'small' %} col-xl-8{% endif %}">
          {% if fields.text %}
            <h5>{{fields.text}}</h5>
          {% endif %}

          <ul class="list-unstyled buttons-list">
            {% for row in fields.buttons %}
              <li>
                <a class="btn btn-primary" href="{{row['button'].url}}" alt="{{row['button'].alt}}">
                  {{row['button'].title}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="337.789 240.415 12.456 4.212" width="12.456px" height="4.212px"><path d="M 347.239 244.627 C 347.419 244.243 347.593 243.907 347.761 243.619 C 347.941 243.331 348.115 243.091 348.283 242.899 L 337.789 242.899 L 337.789 242.143 L 348.283 242.143 C 348.115 241.939 347.941 241.693 347.761 241.405 C 347.593 241.117 347.419 240.787 347.239 240.415 L 347.869 240.415 C 348.625 241.291 349.417 241.939 350.245 242.359 L 350.245 242.683 C 349.417 243.091 348.625 243.739 347.869 244.627 L 347.239 244.627 Z" fill="currentColor" style="stroke-width: 1;" id="object-0" transform="matrix(1, 0, 0, 1, 0, 1.4210854715202004e-14)"/></svg>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  {% endblock %}
{% endembed %}
