{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_publication-entry-point' } %}
  {% block content %}
    {% set post = get_post(fields.publication) %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 img-holder">
          {% if post and post.thumbnail %}
            {% include "@partial/media-item.twig" with { image: post.thumbnail } only %}
          {% endif %}
        </div>
        <div class="col-12 col-md-6 quote-holder">

          <div class="quote h5">
            {{fields.quote.content}}
          </div>

          <div class="entry-point-attribution">
            <p class="title">{{fields.quote.attribution.title}}</p>

            <p>{{fields.quote.attribution.subtitle}}</p>
          </div>

          <a href="{{ post.link }}" class="btn btn-primary">{{fields.read_more_text}}</a>
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
