{% embed '@views/tease.twig' with {
  tease_options: tease_options|merge({
    extra_classes:'has-overlay-background tease-card post-card',
  }),
  post
} only %}
  {% block content %}
    {% set full_post = get_post(post) %}
    {% set is_external_link = full_post.meta('is_external_link') %}
    {% set external_link = full_post.meta('external_link') %}
    {% set actual_link =  is_external_link ? external_link.url : full_post.path %}
    {% set actual_target =  is_external_link ? '_blank' : '_self' %}
    {% set terms = full_post.terms %}

    <div class="row">
      {% if tease_options.show_image and full_post.thumbnail is not empty %}
        <div class="col-12 col-md-6 img-holder">
          {% include "@partial/media-item.twig" with { image: full_post.thumbnail } only %}
        </div>
        <div class="col-10 col-md-5 text-holder">
      {% else %}
        <div class="col-10 col-md-11 text-holder">
      {% endif %}

        <div class="date">{{ is_external_link ? external_link.title : global_context().options.site.post_types.post.internal_news_label }} <span class="mark">·</span> {{ full_post.date }}</div>
        <h2 class="h5"><a href="{{ actual_link }}" target="{{ actual_target }}">{{full_post.post_title}}</a></h2>

        {% if terms is not empty %}
          <ul class="category-list list-unstyled">
          {% for term in terms %}
            <li>
              <a href="{{term.link}}" class="btn btn-secondary">{{ term.name }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="col-2 col-md-1 btn-holder d-flex justify-content-end">
        <a href="{{ actual_link }}" target="{{ actual_target }}" class="btn btn-secondary more-link">
          <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.71928 10.0212L0.980469 9.28234L8.22787 2.03494H1.57856V0.979492H10.0221V9.42307H8.96669V2.77375L1.71928 10.0212Z" fill="currentColor"/>
          </svg>
        </a>
      </div>
    </div>
  {% endblock %}
{% endembed %}
