{% embed '@views/tease.twig' with {
  tease_options: tease_options|merge({
    extra_classes: html_classes(tease_options.extra_classes ?: '', 'swiper-slide'),
    extra_attributes: theme_attr
  }),
  post
} only %}
  {% block content %}
    {% set full_post = get_post(post) %}
      <div class="wrap">
        <div class="text-holder">
          <h2 class="h5">
            <a href="{{post.link}}">{{post.post_title}} <span class="icon">→</span></a>
          </h2>
          <p>{{post.excerpt}}</p>
        </div>
        {% if post.meta('research_area_icon_svg') %}
        {% set holder_classes = html_classes('image-holder', ('image-holder--' ~ post.ID), { 'style-svg': tease_options.animate } ) %}
        
          <div class="{{ holder_classes }}">
            <a href="{{post.link}}">
              {% include '@partial/raw-svg.twig' with { svg_file: post.meta('research_area_icon_svg') } only %}
            </a>
          </div>
        {% endif %}
      </div>
    {% endblock %}
{% endembed %}
