{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_image-and-contact-list' } %}
  {% block content %}
    <div class="container">
      <div class="row {% if fields.image_on_right %}img-right{% endif %}">
        <div class="col-12 col-md-6 image-holder">
          {% include '@partial/media-item.twig' with { image: fields.image } only %}
        </div>
        <div class="col-12 col-md-6 text-holder">

          {% if fields.title %}
            <h2>{{fields.title}}</h2>
          {% endif %}

          {% if fields.subtitle %}
            <h5 class="d-none d-md-block">{{fields.subtitle}}</h5>
          {% endif %}

          <ul class="list-unstyled contacts-list">
            {% for row in fields.contacts %}
              <li>
                <p class="label">{{row['label']}}</p>

                {% if row['contact_name'] %}
                  <p class="contact-name">{{row['contact_name']}}</p>
                {% endif %}

                <a class="mail-link" href="{{row['link'].url}}" alt="{{row['link'].alt}}">{{row['link'].title}}</a>
              </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
