{% set has_sidebar = fields.variation in ['two_cols_sidebar', 'two_cols_heading_sidebar'] %}
{% set col_class = 'col-12 col-md col-xxl-5' %}

{% set extra_classes = [extra_classes, 'block_two-column-text-block']|filter(v => v)|join(' ') %}

{% extends '@partial/block_wrapper.twig' %}

{% block content %}
  <div class="container">
    {% if fields.heading %}
      <h2 class="block-title">{{ fields.heading }}</h2>
    {% endif %}

    <div class="row">
      <div class="col-12 col-md-3 col-xxl-2 two-column-sidebar{% if not has_sidebar %} mb-0{% endif %}">
        {% if has_sidebar %}
          {% include '@blocks/two-column-text-block/post-details.twig' %}
          {% if fields.sidebar_content %}
            <div class="text mb-5">{{ fields.sidebar_content|raw }}</div>
          {% endif %}
        {% endif %}
      </div>

      {# col 1 text #}
      {% if fields.variation in ['two_cols', 'two_cols_sidebar'] %}
        <div class="{{ col_class }}">
          <div>{{ fields.column_1|raw }}</div>
        </div>
      {% endif %}

      {# col 1 heading #}
      {% if fields.variation in ['two_cols_heading', 'two_cols_heading_sidebar'] %}
        <div class="{{ col_class }}">
          <div>
            <h2 class="h5 col-heading-title">{{ fields.column_1_heading }}</h2>
          </div>
        </div>
      {% endif %}

      {# col 2 #}
      <div class="{{ col_class }}">
        <div>{{ fields.column_2|raw }}</div>
      </div>
    </div>
  </div>
{% endblock %}
