{% set has_sidebar = fields.variation in ['two_cols_sidebar', 'two_cols_heading_sidebar'] %}
{% set col_class = has_sidebar ? 'col-12 col-md d-flex col-xxl-5' : 'col-12 col-md-6' %}

{% set extra_classes = [extra_classes, 'block_two-column-text-block']|filter(v => v)|join(' ') %}

{% extends '@partial/block_wrapper.twig' %}

{% block content %}
  <div class="container">
    {% if fields.heading %}
      <h2 class="block-title">{{ fields.heading }}</h2>
    {% endif %}

    <div class="row">
      {% if has_sidebar %}
        <div class="col-12 col-md-3 col-xxl-2 two-column-sidebar">
          {% include '@blocks/two-column-text-block/post-details.twig' %}
          {% if fields.sidebar_content %}
            <div class="text">{{ fields.sidebar_content|raw }}</div>
          {% endif %}
        </div>
      {% endif %}

      {# col 1 text #}
      {% if fields.variation in ['two_cols', 'two_cols_sidebar'] %}
        <div class="{{ col_class }}">
          {{ fields.column_1|raw }}
        </div>
      {% endif %}

      {# col 1 heading #}
      {% if fields.variation in ['two_cols_heading', 'two_cols_heading_sidebar'] %}
        <div class="{{ col_class }}">
          <h2 class="h5 col-heading-title">{{ fields.column_1_heading }}</h2>
        </div>
      {% endif %}

      {# col 2 #}
      <div class="{{ col_class }}">
        {{ fields.column_2|raw }}
      </div>
    </div>
  </div>
{% endblock %}
