{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_three-up-entry-points' } %}
  {% block content %}
    <div class="container">
      <div class="row">
        {% for row in fields.entry_points %}
          <div class="col-12 {{ fields.cards_per_row == '2' ? 'col-md-6' :'col-md-4'  }}">
            <a class="entry-point-card" href="{{row.link.url}}" alt="{{row.link.alt}}">
              {% if row.image %}
                <div class="img">
                  <span class="icon">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.595817 7.29167L0 6.69585L5.84468 0.851167H0.482328V0H7.29167V6.80934H6.4405V1.44698L0.595817 7.29167Z" fill="currentColor"/>
                    </svg>
                  </span>
                  {% include '@partial/media-item.twig' with { image: row.image, size: 'medium' } %}
                </div>
              {% endif %}
              <h3 class="entry-point-card--title">{{row.link.title}}</h3>
              {{row.description}}
              {% if row.button_text %}
                <button class="btn btn-primary">{{row.button_text}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="337.789 240.415 12.456 4.212" width="12.456px" height="4.212px"><path d="M 347.239 244.627 C 347.419 244.243 347.593 243.907 347.761 243.619 C 347.941 243.331 348.115 243.091 348.283 242.899 L 337.789 242.899 L 337.789 242.143 L 348.283 242.143 C 348.115 241.939 347.941 241.693 347.761 241.405 C 347.593 241.117 347.419 240.787 347.239 240.415 L 347.869 240.415 C 348.625 241.291 349.417 241.939 350.245 242.359 L 350.245 242.683 C 349.417 243.091 348.625 243.739 347.869 244.627 L 347.239 244.627 Z" fill="currentColor" style="stroke-width: 1;" id="object-0" transform="matrix(1, 0, 0, 1, 0, 1.4210854715202004e-14)"/></svg>
                </button>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
